.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
body > .navbar-collapse .navbar-form .btn{
  height: 70px;
}
.modal-content{
  background-color: #edeff1;
}

/* header */
/**
 * Header 1 stylesheet  
 * */
.header-1 {
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-1 > .container {
  position: relative;
}
.header-1 .navbar .navbar-form .dropdown-toggle{
  padding-top: 80px;
  padding-bottom: 5px;
  position: absolute;
  top: -55px;
  font-size: 16px;
  height: auto;
  line-height: 22px;
}
.header-1 .navbar .navbar-form .navbar-btn {
  padding-top: 82px;
  padding-bottom: 8px;
}
.header-1 .navbar {
  position: absolute;
  z-index: 2;
  top: 45px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.header-1 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-1 .navbar .brand {
  font-size: 25px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.header-1 .navbar .brand:hover,
.header-1 .navbar .brand:focus,
.header-1 .navbar .brand.active {
  color: #ffffff;
}
.header-1 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-1 .navbar .nav > li {
  margin-left: 20px;
}
.header-1 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-1 .navbar .nav > li > a {
  padding: 35px 0 27px;
  font-size: 13px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-1 .navbar .nav > li > a:hover,
.header-1 .navbar .nav > li > a:focus,
.header-1 .navbar .nav > li > a.active {
  color: #7F8C8D;
}
.header-1 .navbar .nav > li.active > a {
  color: #7F8C8D;
}
.header-1 .navbar .nav > li.active > a:hover,
.header-1 .navbar .nav > li.active > a:focus,
.header-1 .navbar .nav > li.active > a.active {
  color: #7F8C8D;
}
.header-1-sub {
  position: relative;
  z-index: 50;
  left: 0;
  width: 100%;
  height: 500px;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
}
@media (max-width: 480px) {
  .header-1-sub {
    height: 420px;
  }
}
.header-1-sub .container {
  position: relative;
}
@media (max-width: 767px) {
  .header-1-sub .container {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.header-1-sub h3 {
  margin: 0 0 18px 0;
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
}
@media (max-width: 600px) {
  .header-1-sub h3 {
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
  }
}
@media (max-width: 480px) {
  .header-1-sub h3 {
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
    margin: 0 0 24px 0;
  }
}
.header-1-sub .lead {
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .header-1-sub .lead {
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
  }
}
@media (max-width: 480px) {
  .header-1-sub .lead {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
  }
}
.header-1-sub .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.header-1-sub .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.header-1-sub .pt-page-current,
.header-1-sub .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.header-1-sub .pt-page-ontop {
  z-index: 999;
}
.header-1-sub .page-transitions * {
  line-height: normal;
}
.header-1-sub .page-transitions .background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 10;
  filter: alpha(opacity=1000);
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.header-1-sub .page-transitions .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
}
@media (max-width: 480px) {
  .header-1-sub .page-transitions .caption {
    bottom: 83px;
  }
}
.header-1-sub .page-transitions .controls > * {
  position: absolute;
  left: 15;
  top: 415px;
  z-index: 1000;
  width: 20px;
  overflow: hidden;
  text-decoration: none;
  font-size: 18px;
  color: #7f8c8d;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.header-1-sub .page-transitions .controls > *:hover,
.header-1-sub .page-transitions .controls > *:focus,
.header-1-sub .page-transitions .controls > *.active {
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 480px) {
  .header-1-sub .page-transitions .controls > * {
    top: 363px;
  }
}
.header-1-sub .page-transitions .controls > *.control-next {
  left: 45px;
}

/*头像位置*/
.header-1 .navbar img.btn {
padding-left: 20px;
padding-right: 20px;
padding-top: 80px;
padding-bottom: 5px;
}

.navbar .navbar-form .btn {
height: auto;
line-height: 22px;
padding-top: 89px;
padding-bottom: 8px;

position: absolute;
top: -55px;
font-size: 16px;
height: auto;
line-height: 22px;
}
/*头像位置完*/

/**Message**/
.nb_boxes{
  margin-top: 35px;
}
.nb_boxes a {
  color: #fff;
}
.container.sm {
  width: 80%;
}
.navbar-unread, .navbar-new {
background-color: #C0392B;
position: absolute;
right: -10px;
top: 55%;
width: 10px;
height: 10px;
z-index: 10;
}
button.close {
padding: 0;
cursor: pointer;
background: #95A5A6;
border: 0;
}
@media (max-width: 1000px) {
  .nb_boxes a{
    padding-left: 35px;
  }
}

/* content 志愿者报名*/
/**
 * Content 2 stylesheet  
 * */
.content-2 {
  padding-top: 50px;
  padding-bottom: 10px;
  position: relative;
}
.content-2 .form-group{
  padding-top: 50px;
}
.content-2 h6{
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .content-2 .btns {
    margin-top: 35px;
  }
}


/**
 * coming-list stylesheet  
 * */
.coming-list{
  padding-top: 50px;
  padding-bottom: 10px;
}
.coming-list p {
  font-size: 16px;
}
.coming-list .members .member {
  width: 282px;
  display: inline-block;
}
.coming-list .members .photo-wrapper {
  width: 265px;
  height: 180px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.coming-list .members .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 1;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.coming-list .members .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 180px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.coming-list .members .overlay a {
  width: 70px;
  display: inline-block;
  color: #ffffff;
}
.coming-list .members .overlay [class*="fui-"] {
  font-size: 36px;
  height: 100%;
}
.coming-list .members .member:hover .photo-wrapper {
  background-color: #1abc9c;
}
.coming-list .members .member:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.5;
  filter: alpha(opacity=40);
}
.coming-list .members .member:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.coming-list .info{
  margin-top: 30px;
}
.coming-list .info p{
  font-size: 14px;
}
.coming-list .info hr{
  border-top: 2px solid #eee;
  margin-top: 10px;
  margin-bottom: 10px;
}
.coming-list .info .name{
  color: #1abc9c;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 991px) and (min-width: 768px) {
  .coming-list .members .member,
  .coming-list .members .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .coming-list .members {
    display: block;
    width: auto;
  }
  .coming-list .members .member-wrapper {
    display: block;
    text-align: center!important;
  }
  .coming-list .members .member-wrapper + .member-wrapper {
    margin-top: 80px;
  }
}



/**
 * past-list stylesheet  
 * */
.past-list{
  padding-top: 50px;
  padding-bottom: 10px;
}
.past-list p {
  font-size: 16px;
}
.past-list .members .member {
  margin-bottom: 15px;
  width: 220px;
  display: inline-block;
}
.past-list .members .photo-wrapper {
  width: 210px;
  height: 315px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.past-list .members .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 1;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.past-list .members .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 180px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.past-list .members .overlay a {
  width: 70px;
  display: inline-block;
  color: #ffffff;
}
.past-list .members .overlay [class*="fui-"] {
  font-size: 36px;
  height: 100%;
}
.past-list .members .member:hover .photo-wrapper {
  background-color: #1abc9c;
}
.past-list .members .member:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.5;
  filter: alpha(opacity=40);
}
.past-list .members .member:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 991px) and (min-width: 768px) {
  .past-list .members .member,
  .past-list .members .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .past-list .members {
    display: block;
    width: auto;
  }
  .past-list .members .member-wrapper {
    display: block;
    text-align: center!important;
  }
  .past-list .members .member-wrapper + .member-wrapper {
    margin-top: 80px;
  }
}
/*coming & pass 对齐*/
.past-list .members {
  width: 1200px;
}
.past-list .members .member {
  margin-bottom: 15px;
  width: 225px;
  display: inline-block;
}



/* projects 3种活动介绍*/
/**
 * project 3 stylesheet  
 * */
.projects-3 {
  padding-top: 110px;
  padding-bottom: 100px;
  text-align: center;
}
.projects-3 .projects {
  display: table;
  width: 100%;
  margin-top: 45px;
}
.projects-3 p{
  text-align: center;
  font-size: 14px;
  color: #95a5a6;
  margin-top: 25px;
  margin-bottom: 25px;
}
.projects-3 .projects + .projects {
  margin-top: 85px;
}
.projects-3 .projects .project-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: table-cell;
}
.projects-3 .projects .project {
  width: 220px;
  display: inline-block;
  vertical-align: top;
}
.projects-3 .projects .photo-wrapper {
  width: 220px;
  height: 220px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.projects-3 .projects .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-3 .projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-3 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-3 .projects .project:hover .photo-wrapper {
  background-color: #1abc9c;
}
.projects-3 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.projects-3 .projects .project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .projects-3 .projects {
    display: block;
    width: auto;
  }
  .projects-3 .projects .project-wrapper {
    display: block;
    text-align: center!important;
  }
  .projects-3 .projects .project-wrapper + .project-wrapper {
    margin-top: 85px;
  }
}
.projects-3 .btn{
  background: none;
  border: 2px solid;
  border-color: #95A5A6;
  color: #95A5A6;
  font-size: 14px; 
}
.projects-3 .btn:hover{
  background-color: #95A5A6;
  color: #fff;
}



/**
 * Footer 1 stylesheet  
 * */
.footer-1 {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #bdc3c7;
}
.footer-1 .lead {
  margin-bottom: 15px;
  margin-top: -10px;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: -1px;
}
.footer-1 .h6{
  color: #BDC3C7;
}
.footer-1 h4{
  color: #ECF0F1;
}
.footer-1 .lead b {
  font-weight: 500;
}
@media (max-width: 991px) {
  .footer-1 .social-btns {
    margin-bottom: 25px;
  }
}
.footer-1 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-1 a:hover,
.footer-1 a:focus,
.footer-1 a.active {
  color: #979c9f;
}
@media (max-width: 767px) {
  .footer-1 .col-sm-6 {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .footer-1 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.footer-1 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
  font-size: 17px;
  line-height: 22px;
}