.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #ffffff !important;
}
body > .navbar-collapse .navbar-form .btn{
  height: 70px;
}
.inner{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}


/**
 * Header stylesheet  
 * */
 header {
  padding-top: 0px;
  padding-bottom: 70px;
  z-index: 100;
}
.header-10 {
  z-index: 100;
  width: 100%;
}
.header-10 .header-background {
  background: #2C3E50;
}
.header-10 .navbar {
  position: absolute;
  z-index: 2;
  margin: 0;
  font-weight: 500; 
}
.header-10 .navbar .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
}
.header-10 .navbar .nav > li {
  margin-left: 20px;
}
.header-10 .navbar .nav > li > a {
  padding: 35px 0 27px;
  font-size:13px;
  color: #7f8c8d;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-10 .navbar .nav > li > a:hover,
.header-10 .navbar .nav > li > a:focus,
.header-10 .navbar .nav > li > a.active {
  color: #7F8C8D;
}
.header-10 .navbar .btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 5px;
}
.header-10 .navbar .navbar-toggle {
  margin-top: 30px;
}
.header .navbar .user_me
nu {margin-left: 0}
.navbar .user_menu .nb_boxes {margin:35px 0 0}
.navbar .user_menu .nb_boxes .label {background: transparent;background:rgba(0,0,0,.2);padding:3px 5px}
.navbar .user_menu .nb_boxes a {cursor:pointer;float:left;margin-right:18px}
.navbar .user_menu .nb_boxes a:last-child {margin:0}
/*头像位置*/
.navbar .navbar-form .btn {
position: absolute;
top: -55px;
font-size: 16px;
height: auto;
line-height: 22px;
border-radius: 6px;
}
/**Message**/
.nb_boxes{
  margin-top: 15px;
}
.nb_boxes a {
  color: #fff;
}
.navbar-unread, .navbar-new {
background-color: #C0392B;
position: absolute;
right: -10px;
top: 55%;
width: 10px;
height: 10px;
z-index: 10;
}
button.close {
padding: 0;
cursor: pointer;
background: #95A5A6;
border: 0;
}
@media (max-width: 1000px) {
  .nb_boxes a{
    padding-left: 35px;
  }
}

/*设置字体*/
.col-sm-2 h2{

  margin-top: 7%;
}
.col-sm-3 h2{
  margin-top: 7%;
}
.col-sm-3{
    width: 130px;
}
/*设置字体完*/

/*选项框*/
 /*.col-sm-12 form, ul, li .row .col-sm-2{
  margin-top: 7px;
 }*/

 input, select, textarea {
  font-family: sans-serif;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  height: 25px;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  padding-right: 15px;
  padding-left: 15px;
}


/*选项框完*/





/**
 * 上传 图片 
 * */
.main-panel .block-has-padding .block-negative-margin {
margin-left: -28px;
margin-right: -28px;
}
.recipe-show>.cover, .recipe-show>.video, .recipe-edit>.cover, .recipe-edit>.video {
width: 620px;
overflow: hidden;
}
.cover{
  padding-top: 35px;
}
upload-box .upload {
text-align: center;
cursor: pointer;
background-color: #f8f7f3;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
display: table;
}
.upload-box .upload>.upload-text {
display: table-cell;
vertical-align: middle;
}
.upload-box .upload .main-title {
font-size: 13px;
padding: 5px;
color: #909090;
}
.upload-box .upload .sub-title {
font-size: 12px;
color: #b6b2ae;
}
.upload-box .upload>.upload-text {
display: table-cell;
vertical-align: middle;
}
.upload-box .upload {
text-align: center;
cursor: pointer;
background-color: #f8f7f3;
left: 0;
top: 0;
width: 100%;
height: 100%;
display: table;
}
body .hidden {
display: none;
}
button, input {
line-height: normal;
}
button, input, select, textarea {
font-size: 100%;
margin: 0;
vertical-align: baseline;
}
html, button, input, select, textarea {
font-family: sans-serif;
}
body .hidden {
display: none;
}
button, input {
line-height: normal;
}
button, input, select, textarea {
font-size: 100%;
margin: 0;
vertical-align: baseline;
}
html, button, input, select, textarea {
font-family: sans-serif;
}
.upload-widget .upload-widget-autogen {
background-color: white;
}
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
vertical-align: top;
}
user agent stylesheetdiv {
display: block;
}
.upload-widget .upload-widget-file {
display: block;
font-size: 200px;
position: absolute;
top: -10px;
right: -10px;
cursor: pointer;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
}
button, input {
line-height: normal;
}
button, input, select, textarea {
font-size: 100%;
margin: 0;
vertical-align: baseline;
}
html, button, input, select, textarea {
font-family: sans-serif;
}
.upload-widget .upload-widget-progress {
display: none;
}

.upload-widget .upload-widget-stop:hover {
background-position: 0 -37px;
}
.upload-widget .upload-widget-stop {
display: block;
position: absolute;
z-index: 1;
cursor: pointer;
right: 0;
top: 0;
width: 37px;
height: 37px;
background: url(http://www.xiachufang.com/pic/c-close.png) 0 0 no-repeat;
}
.upload-widget .upload-widget-progress-text {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: white;
display: table;
text-align: center;
}
.upload-widget .upload-widget-progress-text>span {
display: table-cell;
vertical-align: middle;
}
.upload-widget .upload-widget-preview {
position: absolute;
width: 100%;
top: 0;
left: 0;
display: block;
visibility: visible;
}
img {
border: 0;
}
.upload-box .upload-widget {
width: 100%;
height: 380px;
}
.upload-widget {
position: relative;
overflow: hidden;
}

.ing-detail .elements th,.ing-detail .elements td
{
  border:1px solid #ebe9e7;
  line-height:35px;
  text-align:center;
  width:25%
}





/**
 * related stylesheet  
 * */
.related{
  padding-top: 50px;
  padding-bottom: 10px;
}
.related h6{
  font-weight: 500;
  color: #7F8C8D;
}
.related p{
  margin-left: 10px;
  font-size: 14px;
  color: #7f8c8d;
}
.related p:hover{
  color: #1ABC9C;
}
.related hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
 * qr stylesheet  
 * */
.qr{
  padding-top: 50px;
  padding-bottom: 10px;
}
.qr img{
  height: 60%;
  width: 60%;
  vertical-align: middle;
  padding-left: 10px;
}
.qr h6{
  font-weight: 500;
  color: #7F8C8D;
}
/**
 * newsletter stylesheet  
 * */
.newsletter{
  padding-top: 50px;
  padding-bottom: 10px;
}
.newsletter h6{
  font-weight: 500;
  color: #7F8C8D;
}
.newsletter input{
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

/**
 * post stylesheet  
 * */
.post {
  padding-top: 50px;
  padding-bottom: 10px;
  display: table-cell;
  width: 33.33%;
}
.post p{
  font-size: 14px;
  font-weight: 500;
  color: #7F8C8D;  
  line-height:20px;
  margin-bottom: 2px;
}
.post h6{
  margin-bottom: 0px;
  font-weight: 500;
  color: #7F8C8D;
}
.post a{
  text-align: center;
  vertical-align: middle;
  color: #fff;
  line-height:8px;
}
.post .description .description-box {
  text-align: left;
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid #ebedee;
}
.post .description .description-box .col-sm-2{
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 10px;
  text-align: center;
}
.post .description .description-box .col-sm-2 .palette{
  padding: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 5px;
}
.post .description .description-box .col-sm-9{
  color: #BDC3C7;
  font-size: 12px;
}
.post .description .description-box:hover {
  background-color: #ECF0F1;
}
@media (max-width: 767px) {
  .post {
    display: block;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .post {
    display: block;
    width: auto;
    border: 0!important;
  }
  .post{
    margin-top: 30px;
  }
  .post .description .description-box {
    padding-left: 35px;
    padding-right: 35px;
  }
}

/**
 * package stylesheet  
 * */
.show{
  padding-top: 50px;
  padding-bottom: 50px;
 }
.show h3{
  padding-top: 10px;
  color: #7F8C8D;
  font-weight: 500;
}
.show .col-sm-4{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
 }
.show .col-sm-4 img{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.show .btn{
  margin-top: 10px;
}




/**
 * Footer 1 stylesheet  
 * */
.footer-1 {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #bdc3c7;
}
.footer-1 .lead {
  margin-bottom: 15px;
  margin-top: -10px;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: -1px;
}
.footer-1 .h6{
  color: #BDC3C7;
}
.footer-1 h4{
  color: #ECF0F1;
}
.footer-1 .lead b {
  font-weight: 500;
}
@media (max-width: 991px) {
  .footer-1 .social-btns {
    margin-bottom: 25px;
  }
}
.footer-1 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-1 a:hover,
.footer-1 a:focus,
.footer-1 a.active {
  color: #979c9f;
}
@media (max-width: 767px) {
  .footer-1 .col-sm-6 {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .footer-1 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.footer-1 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
  font-size: 17px;
  line-height: 22px;
}