<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>MAKERPAPA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="../flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="../flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="../common-files/css/icon-font.css"> 
        <link rel="stylesheet" href="css/style.css"  />


    <body>
      <!-- header-10 -->
      <header class="header-10">
              <div class="container"> 
                  <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle"></button>
                          <a class="brand" href="#"> MAKERPAPA</a>
                      </div>
                      <div class="collapse navbar-collapse container-fluid">
                          <ul class="nav pull-right">
                              <li><a href="#">主页</a></li>
                              <li><a href="#">How-to</a></li>
                              <li><a href="#">分享会</a></li>
                              <li><a href="#">套件</a></li>
                              <li><a href="#">线下活动</a></li>   
                              <li class="hidden-phone user_menu hidden-tablet hidden-phone">
                                <div class="nb_boxes ">
                         
                                  <a data-toggle="modal" data-backdrop="static" href="#myMail"><b>Message</b><span class="navbar-unread">1</span></a>
                                </div>
                              </li>

                              <!--<li><a href="#">登陆|注册</a></li>-->
                              <form class="navbar-form pull-left ">  
                                <img class="btn btn-primary dropdown-toggle" data-toggle="dropdown" src="img/makerpapa_logo_head.png" width="80" height="80" alt=""><span class="caret"></span>
                                  <span class="dropdown-arrow dropdown-arrow-inverse "></span>
                                    <ul class="dropdown-menu dropdown-inverse dropdown-menu-right">
                                      <li><a href="#fakelink">个人主页</a></li>
                                      <li><a href="#fakelink">账号设置</a></li>
                                      <li><a href="#fakelink">退出</a></li>
                                    </ul>
                              </form>
                          </ul>
                      </div>
                  </div> 
              </div>
          <div class="header-background"></div>  
      </header>
      <!--消息-->
      <div class="modal fade" id="myMail">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3>新的消息</h3>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-info">In this table jquery plugin turns a table row into a clickable link.</div>
                    <table class="table table-condensed table-striped" data-rowlink="a">
                      <thead>
                        <tr>
                          <th>发件人</th>
                          <th>项目</th>
                          <th>日期</th>
                          <th>附件</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Declan Pamphlett</td>
                          <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                          <td>23/05/2012</td>
                          <td>25KB</td>
                        </tr>
                        <tr>
                          <td>Erin Church</td>
                          <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                          <td>24/05/2012</td>
                          <td>15KB</td>
                        </tr>
                        <tr>
                          <td>Koby Auld</td>
                          <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                          <td>25/05/2012</td>
                          <td>28KB</td>
                        </tr>
                        <tr>
                          <td>Anthony Pound</td>
                          <td><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></td>
                          <td>25/05/2012</td>
                          <td>33KB</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn">去邮箱查收</a>
                  </div>
              </div>
          </div> 
      </div>
      <!--消息完-->

      <div class="page-wrapper">
          <!-- 缩进80% -->
          <div class="container sm">
            <div class="row">
              <!-- 左边的 Box  -->
              <div class="col-sm-8 left-box">                     
               <!-- 步骤图 -->
                  <div class="row">
                    <h4><b>和世界分享你制作的快乐</b></h4>
                  </div>
                  <div class="row">
                      
                      <form>
                          <!-- Without borders -->
                          <input type="text" placeholder="项目名称" class="form-control" />
                          <!--用来空行-->
                          <div class="col-sm-12">
                            <label class="h6"></label>
                          </div>
                          <!--空行结束-->
                          <!--添加图片-->                              
                              <div class="upload-box ">
                                <div class="upload-widget form-control" data-upload-url="/action/upload_pic/" data-kind="1001" data-width="160" data-xf="jz-gQ" data-default-image="" style="height: 340px;">
                                    <div class="upload">
                                      <span class="upload-text">
                                        <span class="main-title">物料/工具全图</span><br>
                                      </span>
                                    </div>
                                    <input name="ident" class="hidden ng-valid ng-dirty" ng-model="recipe.ident">
                                    <input name="picurl" class="hidden ng-valid ng-dirty" ng-model="recipe.picurl">
                                      <div class="upload-widget-autogen">
                                        <input type="file" name="file" class="upload-widget-file" tabindex="-1">

                                        <div class="upload-widget-progress" style="display: none;">
                                          <div class="upload-widget-stop">
                                          </div>
                                          <div class="upload-widget-progress-text">
                                            <span>上传中•••</span>
                                          </div>
                                          <img src="" class="upload-widget-preview">
                                        </div>
                                      </div>
                                </div>
                              </div>
                         
                          <!--添加图片完-->
                          <!--物料图完-->           
                          
                          <label class="h6">项目简介：</label>
                          <textarea rows="7" class="form-control" placeholder="请在此输入对项目的功能、外形、用处上的描述；或是您的灵感来源、制作的初衷等..."></textarea>
                          <!--添加表格-->
                          <label class="h6">材料/工具清单：</label>
                          
                            <table id="table-upload" class="table">
                              <tbody>
                                <tr class="table-upload-tr">
                                  <td class="col-sm-3"><input class="table-upload-input" placeholder="物料/工具"></td>
                                  <td class="col-sm-3"><input class="table-upload-input col-sm-2" placeholder="数量"></td>
                                  <td><input class="table-upload-input" placeholder="备注"></td>
                                </tr>
                              </tbody>
                            </table>
                          <div id="add-row-to-table-upload" class="btn btn-primary"><span>增加一行</span></div>
                          <!--添加表格完-->
                          <!--用来空行-->
                          <div class="col-sm-12">
                            <label class="h6"></label>
                          </div>
                          <!--空行结束-->

                          <!--物料图-->
                          <div class="tools">
                          <label class="h6">所用物料/工具全图(必填):</label>
                          </div>

                          <!--添加图片-->                                 
                              <div class="upload-box ">
                                <div class="upload-widget form-control" data-upload-url="/action/upload_pic/" data-kind="1001" data-width="160" data-xf="jz-gQ" data-default-image="" style="height: 340px;">
                                    <div class="upload">
                                      <span class="upload-text">
                                        <span class="main-title">物料/工具全图</span><br>
                                      </span>
                                    </div>
                                    <input name="ident" class="hidden ng-valid ng-dirty" ng-model="recipe.ident">
                                    <input name="picurl" class="hidden ng-valid ng-dirty" ng-model="recipe.picurl">
                                      <div class="upload-widget-autogen">
                                        <input type="file" name="file" class="upload-widget-file" tabindex="-1">

                                        <div class="upload-widget-progress" style="display: none;">
                                          <div class="upload-widget-stop">
                                          </div>
                                          <div class="upload-widget-progress-text">
                                            <span>上传中•••</span>
                                          </div>
                                          <img src="" class="upload-widget-preview">
                                        </div>
                                      </div>
                                </div>
                              </div>
                          
                          <!--添加图片完-->
                          <!--物料图完-->                                                  

                          <!--具体步骤-->
                          
                          <label class="h6">具体步骤:</label>
                          <div class="steps">
                            <div class="col-sm-6 steps-one">
                            <textarea rows="7" placeholder="点击添加文字说明"></textarea>
                            </div>
                            <!--用来空列-->
                            <div class="col-sm-1">
                            </div>
                            <!--空列结束-->

                            <!--添加图片-->  
                            <div class="col-sm-5">                                                  
                                <div class="upload-box ">
                                  <div class="upload-widget form-control" data-upload-url="/action/upload_pic/" data-kind="1001" data-width="160" data-xf="jz-gQ" data-default-image="" style="height: 175px;">
                                      <div class="upload">
                                        <span class="upload-text">
                                          <span class="main-title">+步骤图</span>
                                        </span>
                                      </div>
                                      <input name="ident" class="hidden ng-valid ng-dirty" ng-model="recipe.ident">
                                      <input name="picurl" class="hidden ng-valid ng-dirty" ng-model="recipe.picurl">
                                        <div class="upload-widget-autogen">
                                          <input type="file" name="file" class="upload-widget-file" tabindex="-1">

                                          <div class="upload-widget-progress" style="display: none;">
                                            <div class="upload-widget-stop">
                                            </div>
                                            <div class="upload-widget-progress-text">
                                              <span>上传中•••</span>
                                            </div>
                                            <img src="" class="upload-widget-preview">
                                          </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
                            <!--添加图片完-->
                          </div>
                          <!--空行-->
                          <div class="col-sm-12"></div>
                          <div id="add-steps" class="btn btn-primary pull-left"><span>增加步骤</span></div>
                          

                          <!--具体步骤完-->
                         
                          <!--小贴士-->
                          <div class="col-sm-12"></div>
                          <label class="h6 pull-left">小贴士：</label>
                          <textarea rows="7" class="form-control" placeholder="请在此输入温馨提示..."></textarea>
                          <!--小贴士完-->

                          <div class="col-sm-12"></div>

                          <!--checked box-->
                          <div class="col-sm-12 check-box ">
                          <ul>
                            <row>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  电子
                                </label>
                              </div>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  艺术
                                </label>
                              </div>
                            </row>
                            <row>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  木工
                                </label>
                              </div>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  音乐
                                </label>
                              </div>
                            </row>
                            <row>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  Arduino
                                </label>
                              </div>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  Processing
                                </label>
                              </div>
                            </row>
                          </ul>

                          <ul>
                            <row>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  飞行器
                                </label>
                              </div>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  Robot
                                </label>
                              </div>
                            </row>
                            <row>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  机械
                                </label>
                              </div>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  新媒体
                                </label>
                              </div>
                            </row>
                            <row>
                              <div class="col-sm-2">
                                <label class="checkbox" for="checkbox1">
                                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
                                <span class="second-icon fui-checkbox-checked"></span></span>
                                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                                  交互
                                </label>
                              </div>
                              <div class="col-sm-2">
                                    <input type="text" value="" placeholder="其他" class="form-control">
                              </div>
                            </row>
                          </ul>
                        </div>

                        <!--checkbox end-->
                        <!--空行-->
                        <div class="col-sm-12"></div>
                        <!--空行结束-->
                    
                          <button type="submit" class="btn btn-primary pull-right"><span >存为草稿</span></button>
                          <button type="submit" class="btn btn-primary pull-right"><span >项目发布</span></button>
                          <div class="col-sm-12"></div>
                      </form>
                  </div>     
                <!--步骤图完-->
              </div>
              <!-- 右边的 Box Start -->
              <div class="col-sm-4">
                  <!--活动推送-->
                  <section class="post">
                      <h6>我们的最新活动</h6>
                      <div>
                          <div class="description">
                              <div class="description-box">
                                  <div class="row">
                                      <div class="col-sm-2">
                                          <dl class="palette palette-sun-flower img-rounded">
                                              <a href="http://www.huodongxing.com/">JUN.<br>19th</a>
                                          </dl>
                                      </div>
                                      <div class="col-sm-9">
                                          <p>活动名称<br>Workshop</p>
                                          <span class="glyphicon glyphicon-time"></span> 时间<br>
                                          <span class="glyphicon glyphicon-map-marker"></span> 地点
                                      </div>
                                  </div>
                              </div>
                              <div class="description-box">
                                  <div class="row">
                                      <div class="col-sm-2">
                                          <dl class="palette palette-sun-flower img-rounded">
                                              <a href="http://www.huodongxing.com/">JUN.<br>19th</a>
                                          </dl>
                                      </div>
                                      <div class="col-sm-9">
                                          <p>活动名称<br>Sharing</p>
                                          <span class="glyphicon glyphicon-time"></span> 时间<br>
                                          <span class="glyphicon glyphicon-map-marker"></span> 地点
                                      </div>
                                  </div>
                              </div>
                              <div class="description-box">
                                  <div class="row">
                                      <div class="col-sm-2">
                                          <dl class="palette palette-sun-flower img-rounded">
                                              <a href="http://www.huodongxing.com/">JUN.<br>19th</a>
                                          </dl>
                                      </div>
                                      <div class="col-sm-9">
                                          <p>活动名称<br>Hackathon</p>
                                          <span class="glyphicon glyphicon-time"></span> 时间<br>
                                          <span class="glyphicon glyphicon-map-marker"></span> 地点
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>

                  <!--二维码-->
                  <section class="qr">
                      <h6>关注我们</h6>
                      <img class="img-rounded" src="../common-files/img/qr.jpg">
                  </section>

                  <!--获得newletter-->
                  <section class="newsletter">
                      <h6>获取我们的最新消息</h6>
                      <div class="input-group">
                          <input type="text" name="email" value="" class="form-control" placeholder="@" id="mail">
                          <span class="input-group-btn">
                              <button type="submit" class="btn"><span class="fui-mail"></span></button>
                          </span>
                      </div>
                  </section>
              </div>
            </div>
          </div>

          <!--footer-1-->
          <section class="footer-1 bg-midnight-blue">
            <footer class="footer-1">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <address>
                      <strong><h4>联系我们</h4></strong><br>
                      <abbr title="Phone">Phone:</abbr> 13426371080／15011506331<br>
                      <abbr title="Phone">E-mail:</abbr> makerpapa@163.com<br> 
                      <abbr title="Phone">Wechat:</abbr> Makerpapa<br>
                      北京市 海淀区 中关村创业大街 亿景大厦5层<br>
                    </address>
                    <div class="map">
                      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1528.5731220208713!2d116.30663930015899!3d39.98283704560346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d239c885139eb4c!2z54ix5Zac5ZKW5ZWh!5e0!3m2!1sen!2sus!4v1406634902857" width="600" height="450" frameborder="0" style="border:0"></iframe>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <form>
                      <label class="h6">名号</label>
                      <input type="text" class="form-control">
                      <label class="h6">邮箱</label>
                      <input type="text" class="form-control">
                      <label class="h6">想告诉我们的话</label>
                      <textarea rows="7" class="form-control"></textarea>
                      <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-envelope"></span> 提交
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </footer>
          </section>
      </div>


        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../common-files/js/jquery-1.10.2.min.js"></script>
        <script src="../flat-ui/js/bootstrap.min.js"></script>
        <script src="../common-files/js/modernizr.custom.js"></script>
        <script src="../common-files/js/page-transitions.js"></script>
        <script src="../common-files/js/easing.min.js"></script>
        <script src="../common-files/js/jquery.svg.js"></script>
        <script src="../common-files/js/jquery.svganim.js"></script>
        <script src="../common-files/js/startup-kit.js"></script>
        <script src="../common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="../common-files/js/jquery.parallax.min.js"></script>
        <script src="../flat-ui/js/flatui-checkbox.js"></script>     
        
        <!-- Placed at the end of the document so the pages load faster -->
        <tester id="tags2_tag_autosize_tester" style="position: absolute; top: -9999px; left: -9999px; width: auto; font-size: 13px; font-family: helvetica; font-weight: 400; letter-spacing: 0px; white-space: nowrap;"></tester>
        <!--添加表格-->
        <script>
          var newRow = 
            '<tr class="table-upload-tr">'+
              '<td class="col-sm-3"><input class="table-upload-input" placeholder="物料/工具"></td>' +
              '<td class="col-sm-3"><input class="table-upload-input " placeholder="数量"></td>' +
              '<td><input class="table-upload-input" placeholder="备注"></td>' +
            '</tr>';
          $('#add-row-to-table-upload').click(function(){
            $('#table-upload .table-upload-tr').last().after(newRow);
          });
        </script>

        <!--添加步骤（没有成功。。。）-->
        <script>
          var new = 
             
              '<div class="steps">'+
                '<div class="col-sm-6 steps-one">'+
                '<textarea rows="7" placeholder="点击添加文字说明">'+
                '</textarea>'+
                '</div>'+
            
                '<div class="col-sm-1">'+
                '</div>'+
  
                '<div class="col-sm-5">'+                                                  
                    '<div class="upload-box ">'+
                      '<div class="upload-widget form-control" data-upload-url="/action/upload_pic/" data-kind="1001" data-width="160" data-xf="jz-gQ" data-default-image="" style="height: 175px;">'+
                          '<div class="upload">'+
                            '<span class="upload-text">'+
                              '<span class="main-title">+步骤图</span>'+
                            '</span>'+
                          '</div>'+
                          '<input name="ident" class="hidden ng-valid ng-dirty" ng-model="recipe.ident">'+
                          '<input name="picurl" class="hidden ng-valid ng-dirty" ng-model="recipe.picurl">'+
                            '<div class="upload-widget-autogen">'+
                              '<input type="file" name="file" class="upload-widget-file" tabindex="-1">'+

                              '<div class="upload-widget-progress" style="display: none;">'+
                                '<div class="upload-widget-stop">'+
                                '</div>'+
                                '<div class="upload-widget-progress-text">'+
                                  '<span>上传中•••</span>'+
                                '</div>'+
                                '<img src="" class="upload-widget-preview">'+
                              '</div>'+
                            '</div>'+
                      '</div>'+
                    '</div>'+
                '</div>'+
            
              '</div>';

          $('#add-steps').click(function(){
          $('#steps .steps-one').last().after(new);
          });
        </script>

    </body>
</html>